.header {
  width: 100%;
  height: 190px;
  background-color: var(--pokemon-yellow);
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
}

.nav {
  background-color: var(--pokemon-blue);
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.nav a {
  padding: 10px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 20px;
  color: black;
  border: 5px solid var(--pokemon-blue);
  border-radius: 15px;
}

.nav a:hover {
  background-color: var(--pokemon-yellow);
}

.nav a.active {
  background-color: var(--pokemon-yellow);
}
