.pokemon-item {
  text-align: center;
  margin: 5px;
  background-color: var(--pokemon-grey);
  padding: 5px
}

.pokemon-item p {
  margin: 0;
  font-size: 20px;
  font-family: "Fira Code Retina";
}

.pokemon-item p::first-letter {
  text-transform: uppercase;
}

.pokemon-item:hover {
  border: 2px solid black;
  border-radius: 5px;
  border-image: linear-gradient(45deg, var(--pokemon-blue) 50%, var(--pokemon-yellow) 50%) 1;
  margin: 0;
}

.pokemon-types {
  display: flex;
  margin: 0 0 5px 0;
  justify-content: center;
}
